/* 
    Document   : estilos
    Created on : 18/01/2011, 15:23:35
    Author     : David Buzatto
    Description:
        Arquivo de estilos do sistema de cadastro de clientes.
*/

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
}

a {
    color: #0484AE;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

.tabelaListagem {
    background: #000000;
}

.tabelaListagem th {
    background: #EEEEEE;
    padding: 5px;
}

.tabelaListagem td {
    background: #FFFFFF;
    padding: 5px;
}

.alinharDireita {
    text-align: right;
}
